<body>
  <div class="container">
    <header>
      <h1>Todo List</h1>
      <form class="new-task">
        <input type="text" name="text" placeholder="Type to add new task">
      </form>

      <ul>
        {{#each tasks}}
        {{> task}}
        {{/each}}
      </ul>
      
    </header>
  </div>
</body>

<template name="task">
  <li>{{text}}</li>
</template>